# Caddyfile

{
  admin localhost:2019
}

# HTTP → HTTPS редирект
:80 {
  redir https://{host}{uri} permanent
}

# Управляющий API + админ-панель
api.yourdomain.com {
  reverse_proxy localhost:8080
}